
html, body { height: 100%; }
body { margin: 0; padding: 0; box-sizing: border-box; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #FFFFFF; }


.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1240px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}